.container{
  padding: 40px 20px!important;
}
h2{
  width: 900px;
  margin: 0 auto;
}
.row{
  margin-bottom: 40px;
}
.news-title{
  font-size: 20px;
  font-weight: bold;
  padding: 3px 3px 4px;
}
.news-create{
  width: 130px;
  text-align: left;
  padding: 4px;
  margin: 3px;
  background-color: #ccc;
  display: block;
}
/* .text-limiter{
  overflow: scroll;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 5px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
} */
.news-flex{
  display: flex;
  align-items: center;
}
.category-name{
  margin-left: 15px;
}
.btn-default{
  margin-top: 30px ;
  background-color: #ddd !important;
}
.pull-left{
  float: left;
  margin-top: 0 !important;
  margin-right: 15px;
}
.form-top{
  width: 900px;
  margin: 0 auto;
}
.form-control{
  width: 600px !important;
}
.form-text{
  height: 400px !important;
}